<div class="container" ng-controller="userCtrl">
  <div class="row">
    <div class="">
      <div class="user_name">
        ユーザ名:<%= @user.name %>
      </div>

      <div class="skill_title">
        スキル・特徴
      </div>

      <div class="skills" ng-repeat="skill in skills">
        {{skill.liked}}
        <a href="/skills/{{skill.id}}">{{skill.name}}</a>
      </div>

      <button type="button" class="btn btn-primary">
        <%= link_to '一覧に戻る', users_path %>
      </button>
    </div>
  </div>
</div>
